<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <center><h1>Face, Eye and Smile Detector</h1></center>
            <ul>
                <li>blue rectangle -> Face</li>
                <li>green rectangle -> Eyes</li>
                <li>red rectangle -> Smile</li>
            </ul>
            <br><br>
            <center>
            <div class="streaming_area">
                <img src="{{url_for('video_feed')}}" width="70%">
            </div>
            
            </center>
        </div>
    </body>
</html>